In [1]:
l = ["name", "emailId", "phoneNo", "address"]
for i in l:
    print(i)

name
emailId
phoneNo
address

In [2]:
for i in l:
    print(i)
else:
    print("if for loop is  going to complete itself then it will come to else")

name
emailId
phoneNo
address
if for loop is not going to complete itself then it will come to else

In [4]:
for i in l:
    if i == "phoneNo":
        break
    print(i)
else:
    print("inside forelse loop")

name
emailId

In [7]:
# while loop
a = 1
while(a >= 1):
    if(a == 8):
        break
    
    print(a)
    a = a +1

1
2
3
4
5
6
7

In [9]:
list(range(0,13))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [10]:
list(range(3,13,2))

[3, 5, 7, 9, 11]

In [11]:
list(range(3,10,-1))

[]

In [12]:
list(range(10,6,-1))

[10, 9, 8, 7]

In [14]:
n = 5
for i in range(0,n):
    for j in range(0,i+1):
        print("maans ", end="")
    print("\r")

maans
maans maans
maans maans maans
maans maans maans maans
maans maans maans maans maans

In [18]:
# now for dictionalry
d = {12,3,3}
for i in d:
    print (i)

3
12